<section class="bg-gray-600 p-5 rounded-lg">
  <form (ngSubmit)="onSearch()" class="grid grid-cols-1 lg:grid-cols-4">
    <div
      class="grid lg:col-span-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5 flex-1"
    >
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input testId="firstNameFilter" [formControl]="form.controls.firstName" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input testId="lastNameFilter" [formControl]="form.controls.lastName" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pozycja</mat-label>
        <mat-select testId="preferredPositionFilter" [formControl]="form.controls.preferredPosition">
          @for (option of positionList; track option) {
            <mat-option [value]="option.value">{{
              option.viewValue
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex justify-center lg:justify-end gap-2 px-2">
      <button type="submit" class="max-w-60 flex-1" matButton="filled" testId="searchButton">
        Szukaj
      </button>
      <button
        (click)="clearFilters()"
        testId="clearFilters"
        matMiniFab
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>close_small</mat-icon>
      </button>
    </div>
  </form>
</section>

<section class="flex justify-between items-center my-2">
  <h3 class="text-lg p-5">Lista graczy</h3>
  <button matButton="outlined" (click)="openDialog()" testId="addPlayerButton">
    <mat-icon>add_2</mat-icon>
    Dodaj gracza
  </button>
</section>

<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
    (matSortChange)="onSortChange($event)"
  >
    <!-- First name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName" testId="firstNameHeader">
        Imię
      </th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName" testId="lastNameHeader">
        Nazwisko
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Preferred position Column -->
    <ng-container matColumnDef="preferredPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="preferredPosition" testId="preferredPositionHeader">
        Pozycja
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.preferredPosition }}
      </td>
    </ng-container>

    <!-- Is approved Column -->
    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nickname" testId="nicknameHeader">
        Pasudonim
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nickname }}</td>
    </ng-container>

    <ng-container matColumnDef="skillRate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="skillRate" testId="skillRateHeader">
        SkillRate
      </th>
      <td mat-cell *matCellDef="let element">{{ element.skillRate }}</td>
    </ng-container>
        <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef testId="actionsHeader">
        Akcje
        
      </th>
      <td mat-cell *matCellDef="let element">
        <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDetailsDialog(element)">
          <mat-icon>info</mat-icon>
          <span>Szczegóły</span>
        </button>
        <button mat-menu-item (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
          <span>Edytuj</span>
        </button>
        <button mat-menu-item (click)="openConfirmDialog(element)">
          <mat-icon>delete</mat-icon>
          <span>Usuń</span>
        </button>
      </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalItems"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
